/*style.css*/

body {
	margin: 0;
	min-height: 100vh;
    -ms-text-size-adjust: 100%;
    font-size: 100%;
}
.main {
	margin: 0;
	padding: 0 10px;
	margin-top: 13px;
}
i {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.branding-header {
	text-align: center;
	padding: 10px;
	border-bottom: solid 1px #bababa;
}
#branding-heading{
	height: 26px;
	width: 185px;
}
.page_header {
	border-top: 1px solid #e2e2e2;
    margin-bottom: 15px;
    padding-top: 32px;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
}
.page_heading {
	font-weight: 700;
    font-style: normal;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    margin-top: 5px;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-transform: capitalize;
}
.page_subheading {
    font-size: 1.0625rem;
    line-height: 1.4375rem;
    font-weight: 400;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
    display: block;
}
.page_nav {
	border-top: 1px solid #ccc;
    padding-top: 0;
    border-bottom: 2px solid #000;
    display: table;
    width: 100%;
}
.dropdowns {
	float: left;
	display: table-cell;
}
.dropdown {
	display: inline-block;
	position: relative;
	margin: 4px;
	padding: 0 7px;
	border-left: solid 1px #ccc;
}
.dropdown:first-child {
	margin-left: 0;
	border-left: none;
	padding-left: 0;
}
.dropdown > label {
	text-transform: uppercase;
	font-size: 0.75rem;
    line-height: 0.9375rem;
    font-weight: 500;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    margin-right: 10px;
    display: inline-block;
}
.dropdown .arrow {
	display: inline-block;
}
.dropdown > select {
	-webkit-appearance: none;
	border: none;
	background-color: #fff;
	position: absolute; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	opacity:0; 
	cursor:pointer;
}
.select_dy_date {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}
.select_dy_date > div {
	display: inline-block;
    font-size: 0.6875rem;
    line-height: 0.6875rem;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    padding: 0 15px;
}
.hover {
	background-color: #ccc;
}

.page_content_section {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 0;
	margin-top: 20px;
	width: 100%;
}
.page_content_section_listName {
	font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
}
.book_menu {
    padding: 0;
    margin: 20px 0;
}

.book_menu_item {
	list-style-type: none;
	position: relative;
	/*margin-bottom: 20px;*/
	display: flex;
	font-stretch: condensed;
	letter-spacing: -0.025rem;
}
.book {
	width: 100%;
	display: inline-block;
}
.book_menu_item .rank {
	font-family: "cheltenham-cond-normal-500",georgia,"times new roman",times,serif;
    margin-top: 2px;
	font-size: 1.875rem;
	font-weight: 500;
	display: inline-block;
	margin-right: 7px;
	line-height: 30px;
	color: #999;
}
.title {
	font-size: 1.0625rem;
    line-height: 1.1875rem;
    font-weight: 700;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    display: block;
    margin: 0;
}
.author {
	font-size: 0.9375rem;
    line-height: 1.1875rem;
    font-weight: 500;
    display: inline;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
    margin: 0;
}
.book_menu_item .thumbnail {
	display: none;
}
.book_menu_item .description {
	display: none;
	font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 400;
    font-family: georgia,"times new roman",times,serif;
    color: #333;
    margin-bottom: 0;
}
.book_menu_item .fressness {
	display: none;
}
.footer {
	border-top: solid 1px #bababa;
	color: #999;
	background-color: #fff;
	padding-top: 11px;
}
@media only screen and (min-width: 764px) {
    .main {
    	margin: 0 auto;
    	width: 705px;
    	margin-top: 13px;
    }
    .page_heading {
	    font-size: 2.25rem;
	    line-height: 2.375rem;
	    font-weight: 400;
	    font-style: normal;
	    margin-top: 5px;
	}
	.book_menu {
		margin-bottom: 30px;
    	display: flex;
    }
    .book_menu_item {
		border-right: 1px solid #e2e2e2;
		padding-right: 15px;
		flex-direction: column;
		flex: 1;
		padding-left: 15px;
    }
    .book_menu_item:first-child {
    	padding-left: 0;
    }
    .book_body {
    	margin-top: 15px;
    }
    .book_menu_item .rank {
		position: absolute;
	    top: 0;
	    transform:scale(0.7,1); 
  		-webkit-transform:scale(0.7,1);
	}
	.title {
		font-size: 1rem;
		line-height: 1.125rem;
		font-weight: 700;
	}
	.author {
		font-size: 0.875rem;
	    line-height: 1.0625rem;
	    font-weight: 400;
	}
    .book_menu_item:last-child {
		border-right: none;
	}
    .book_menu_item .fressness {
		display: block;
		font-size: 0.5rem;
		line-height: 0.75rem;
		font-weight: 400;
		color: #333;
		text-transform: uppercase;
		margin-bottom: 0;
		letter-spacing: 0.025em;
	}
	.book_menu_item .thumbnail {
		display: block;
		margin-right: auto;
	    margin-left: auto;
	    height: 110px;
	    max-width: 82px;
	}
	.footer{
		padding-top: 13px;
	}
}

@media only screen and (min-width: 1020px) {
	body {
		margin: 0 20px;
		box-shadow: 0 0 5px #bababa;
	}
	.main {
    	width: 960px;
    	margin: auto;
		margin-top: 13px;
    }
    .page_heading {
	    font-size: 3rem;
	    line-height: 3rem;
    }
    .book_menu_item .thumbnail {
    	display: block;
    	height: 170px;
		max-width: 132px;
    }
    .book_menu_item .description {
		display: block;
	}
    .footer {
    	padding-top: 9px;
    }
}

@media only screen and (min-width: 1280px) {

	.main {
		width: 1125px;
    	margin: auto;
    	margin-top: 13px;
    }
	
}

